
.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: rgba(0, 28, 58, 0);
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {

    -fx-background-color: rgba(56, 60, 74, 0.88);
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 0 0 0;
}

.table-view .column-header .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

#anchor {
    -fx-background-color: #000000;
}

#tituloTabla1{
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI bold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}
#tituloTabla2{
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI bold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}
.split-pane{
    -fx-background-color: #3e3e3e;
}

.label {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI bold";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.combo-box{
    -fx-background-color: #7c818c;
    -fx-text-fill: white;
}

.combo-box .list-cell
{
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 2em;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing
{
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}
